.App {
  text-align: center;
}

.App-logo {
  height: 175px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  -webkit-padding-start: 0%;
  padding-top: 10px;
  padding-right: 20vw;
  padding-left: 20vw;
}

#navLi { 
  font-family: 'Poiret One', cursive;
  color: #666;
  display:inline-block; 
  margin:0;
  text-transform:uppercase; 
  font-size: 1.5vw;
}

#navLi:after {
  display:block;
  content: '';
  border-top: solid .5px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

#navLi:hover:after { transform: scaleX(1.25); }

.hero-img {
  width: 100vw;
  height: 50vh;
}

h1, h3 {
  font-family: 'Poiret One', cursive;
  color: #666;
}

.grid {
      display: grid;
      /* grid-template-columns: 1fr 2fr 1fr; */
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      /* grid-auto-rows: 100px; */
      grid-auto-rows: minmax(300px, auto);
    }

.img-card {
  display: flex; 
  flex-direction: row; 
  max-height: 500px; 
  max-width: 300px; 
}